<div style="text-align:center">
  <h1>Smile Please!</h1>

  <div>
    <webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
      *ngIf="showWebcam" [imageQuality]="1" (initError)="handleInitError($event)">
    </webcam>
    <br />
    <button class="actionBtn" (click)="triggerSnapshot();">Take A Snapshot</button>
  </div>
</div>

<div class="snapshot" *ngIf="webcamImage">
  <img [src]="webcamImage.imageAsDataUrl" />
</div>

<h4 *ngIf="errors.length > 0">Messages:</h4>
<ul *ngFor="let error of errors">
  <li>{{error | json}}</li>
</ul>